@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

section.dashboard {
  @include mixin.section-layout-1rem;

  section.learnt, section.not-learnt {
    @include mixin.section-layout-1rem;
    width: 100%;
  }

  ul.learnt-groups, ul.not-learnt-groups {
    @include mixin.flex-row;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
    border-radius: 15px;
  }

  .count {
    @include mixin.flex-col;
    align-items: normal;
  }

  ul.learnt-groups {
    background: vars.$gold;
  }

  ul.not-learnt-groups {
    background: vars.$card-light;
  }
}

@media (min-width: 768px) {
  section.dashboard {
    section.learnt, section.not-learnt {
      flex-direction: row;
    }
  }
}

@media (min-width: 1024px) {
  section.dashboard {
    section.learnt, section.not-learnt {
      flex-direction: column;
    }
  }
}
