// colors
$white:        #f2dbff; // body background
$card-light:   #c98bff; // card background
$black:        #0a0012; // primary text
$purple:       #663c84; // secondary text & links, buttons
$light-purple: #e9c9ff; // text on dark background
$dark-purple:  #27083e; // hover
$gold:         #f4b942; // accent
$shadow:       0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
