@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

.link-button {
  background: vars.$gold;
  color: vars.$black;
  padding: 1rem;
  border: 2px solid vars.$gold;
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: center;
  transition: vars.$transition;

  &:hover {
    border: 2px solid vars.$dark-gold;
    background: vars.$light-gold;
  }
}

@media (min-width: 768px) {
  .link-button {
    align-self: flex-start;
  }
}
