@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

button { cursor: pointer; }

.button {
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.4rem;
  text-align: center;
  transition: vars.$transition;
  color: vars.$black;
}

.gold.button {
  background: vars.$gold;
  border: 2px solid vars.$gold;

  &:hover {
    border: 2px solid vars.$dark-gold;
    background: vars.$light-gold;
  }
}

.purple.button {
  background: vars.$purple;
  border: 2px solid vars.$purple;
  color: vars.$light-purple;

  &:hover {
    border: 2px solid vars.$dark-purple;
    background: vars.$light-purple;
    color: vars.$dark-purple;
  }
}

.light.button {
  background: vars.$light-purple;
  border: 2px solid vars.$light-purple;
}

button.pill {
  font-size: 1.3rem;
  padding: 0.5rem;
  background: vars.$gold;
  color: vars.$black;
  border: 2px solid vars.$gold;
  border-radius: 15px;
  transition: vars.$transition;

  &:hover {
    border: 2px solid vars.$dark-gold;
    background: vars.$light-gold;
  }
}

.button.logout {
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 768px) {
  .link-button {
    align-self: flex-start;
  }
}
