@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

.cards {
  @include mixin.flex-col;
  gap: 1rem;

  a { width: 100%; }

  article.card {
    &:hover {
      background: vars.$light-purple;
      border: 2px solid vars.$dark-purple;
    }
  }
}

.cards-wrapped {
  @include mixin.flex-row;
  gap: 1rem;
  flex-wrap: wrap;
}

section.dashboard {
  .cards {
    @include mixin.flex-row;
  }
}

article.card {
  @include mixin.flex-col;
  gap: 1rem;
  align-items: normal;
  background: vars.$card-light;
  padding: 1.5rem;
  border: 2px solid vars.$card-light;
  border-radius: 15px;
  transition: vars.$transition;

  h3 { color: vars.$purple; }
}

article.to-jlpt {
  @include mixin.flex-row;
  justify-content: space-between;

  .info {
    @include mixin.flex-col;

    h4 { align-self: flex-end; }
  }
}

article.card.kanji {
  .card-top {
    @include mixin.flex-row;
    justify-content: space-between;

    .pill.dark { align-self: flex-start; }
  }

  .meanings, .kun-readings, .on-readings {
    @include mixin.flex-row;
    gap: 1rem;
  }

  h1 { font-size: 6rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.5rem; }
  p  { font-size: 1.3rem; }
}

article.card.light {
  background: vars.$light-purple;
  display: none;

  h2 {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  h3 { font-size: 1.5rem; }
}

article.gold.card {
  background: vars.$gold;
  border: 2px solid vars.$gold;
}

@media (min-width: 768px) {
  .link-cards {
    @include mixin.flex-row;
    justify-content: space-around;
  }

  article.to-jlpt {
    @include mixin.flex-col;
    align-items: normal;
  }
}
