@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

section.devise {
  @include mixin.section-layout-1rem;

  header {
    @include mixin.flex-col;
    gap: 1rem;
  }
}

form {
  @include mixin.section-layout-1rem;

  span.input-container {
    @include mixin.flex-row;

    img {
      position: absolute;
      left: 50px;
    }
  }

  input[type="text"], input[type="password"], input[type="email"] {
    box-sizing: border-box;
    background: vars.$form-white;
    border: 3px solid vars.$form-white;
    border-radius: 15px;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 4rem;
  }

  .field {
    @include mixin.flex-col;
    align-items: normal;
    gap: 0.5rem;
  }

  .field.remember-me {
    @include mixin.flex-row;
  }
}
