@use '../abstracts/variables.scss' as vars;
@use '../abstracts/mixins.scss' as mixin;

#main-nav {
  @include mixin.flex-row;
  justify-content: space-between;
  font-size: 2rem;

  img {
    width: 2rem;
  }
}
